<div class="aboutUs">
Congratulations! You have just puchased a .... month subscription!

if they selected "email to recipient"{
Your gift code has been emailed to your recipient and a reciept has been emailed to you.}

else{
Your gift code is: ..... which has also been emailed to you, to pass on to your chosen recipient.}

Thank you for shopping at SeedPod, hope to see you again soon.
</div>