<h1 class='hugeTitle'>Purchase Complete</h1>

<div class="aboutUs">
<div class="boxes">
  <p>
  	<div class="miniAboutTitle">Congratulations!</div>
  </p>
  <p>
  You've just purchased a <%= @gift_code.months %> month gift subscription to SeedPod!
  </p>

  <p>
    <% if @gift_code.send_to_recipient %>
      A receipt has been emailed to you, and the gift code will be emailed directly to the recipient on your chosen date.
    <% else %>
      Your gift code is: '<strong><%= @gift_code.code%></strong>' which has also been emailed to you. You can either print or email it for your chosen recipient.
    <% end %>
  </p>

  <p>
    Thank you for shopping at SeedPod, hope to see you again soon.
  </p>
</div>
</div>