<p>Thank you for purchasing a SeedPod gift subscription!</p>

<p>
	You have purchased a gift subscription that will last for ........ months for £.......which is inclusive of VAT.
</p>

<p>
	Your unique gift code is............... and can be used when creating an account at getseedpod.com. Just forward the details of the code to your chosen recipent and they can add the code whenever they chose! They will then start to receive their vegetable seeds and have access to their growing guidance within days.
</p>

<p>
	 If you have any queries regarding the gift you have purchased, then please do get in touch with us at greetings@getseedpod.com.
</p>
<p>
	Thank you once again!
</p>

<p>Best wishes,
	the SeedPod team</p>	

<p>SeedPod is a limited company registered in England and Wales. Registered number: 8469306. Registered office: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.</p>