<p>Congratulations <%= @recipient_name %>, you are the lucky recipient of a SeedPod gift subscription from <%= @purchaser_name %>!</p>

<p>
	Your subscription means you will be sent two different varieties of vegetable seeds every month for <%= @months %> months, as well as having access to our unique guided growing programme to help you sow the seeds, and to nurture the plants. We'll even advise you when it may be best to harvest the veg.
</p>

<p>
	In order to start receiving your seeds you will need to create an account on our website at http://getseedpod.com. By clicking 'subscribe' on the site you will be asked to enter your preferred delivery details. You will also have the option of entering your unique gift code which is "<%= @code %>".
</p>

<p>
	It's as simple as that. In fact everything about SeedPod has been designed to be simple, as you'll discover when you see the fantastic growing schedule lined up for the months ahead. So don't wait, jump right in, and get growing! 
</p>

<p>Best wishes,
	the SeedPod team</p>

<p>SeedPod is a limited company registered in England and Wales. Registered number: 8469306. Registered office: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.</p>