<div style="border-width: 4px; border-style: solid; border-color: rgb(120/162/47); "> 
<div style="margin-left: 10px;">
<div style="font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;">
<div align="right">
</p>
	<img src="http://farm6.staticflickr.com/5473/9577220966_83466c00c6.jpg" 
		width="300">
</p>
</div>
<p><%= @greeting %></p>

<p>This month's SeedPod is now on its way to you! Everything you need to help you sow and grow can be found in your <a href="http://www.getseedpod.com/pods/this_month">January growing guidance</a>. Do remember to let everyone know how you're getting on by posting photos and questions on our <a href="https://www.facebook.com/getseedpod">Facebook</a> page and on <a href="https://twitter.com/SeedPod">Twitter</a>! We'd love to hear how you're growing is going, so don't be shy.
</p>
<p>You may also like to know that we've just launched our SeedPod gift subscriptions. They make a perfect gift, and we offer a range of prices to suit all budgets. You can even save up to 15% over an individual monthly subscription. All the details can be found <a href="http://www.getseedpod.com/gift_codes/new">here</a>.
</p>
	
<p>Wishing you a very Happy New Year,<br/>
	from the SeedPod team</p>

<p>If you would like to amend your billing details you will need to login to your <a href="https://gocardless.com/users/sign_in">GoCardless</a> account. If you would like to amend the delivery details you can do so within your <a href="http://www.getseedpod.com/users/edit">Account Settings</a> on our website. Here you'll also find details as to how you can cancel your subscription and close your account, which you can do at any time.</p>
	

<div style="font-size: smaller;"><p>SeedPod is a limited company registered in England and Wales. Registered number: 8469306. Registered office: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.</p>
</div>
</div>
</div>
</div>