<h1>About</h1>

<p>
	<h3>SeedPod</h3>
</p>

<p>
	Fresh, home-grown food tastes better than anything you can buy in a shop - trust us on this, it just does! You cannot beat the taste of eating a vegetable picked freshly off the plant, and popped straight into a favourite recipe. 
</p>

<p>
	But the challenge has always been in deciding what to grow, when to grow it, and how to ensure all the plants survive to produce a bountiful crop. Don't worry though, that's how we can help. 
</p>

<p>
	Our carefully crafted 'grow-by-numbers' programme is designed to ensure everyone can enjoy eating home-grown vegetables throughtout the year. Whether you're a busy parent trying to put a nutrious meal on the table, or a frazzled commuter unable to treat your body to the quality food it craves, SeedPod will help bring a smile to your face.
</p>

<p>
	Everything about SeedPod has been designed with simplicity in mind: from the incredibly easy GoCardless signup page, to our minimalist and environmentally-friendly packaging that will fit perfectly through your letterbox, and of course our regular and easy-to-follow growing guidance. We've taken all the hassle out of planning your vegetable calendar, giving you the freedom to enjoy growing and eating your own food.
</p>
		
<p>
	<h3>Paul and Rebecca</h3>
</p>

<p>
	The germination of SeedPod began with the aim of improving nutritional health, reducing food miles, and easing the strain on household budgets. We believe that a lack of both time and knowledge are two key factors that discourage people from even trying to grow their own food. Finding a solution has taken a while, but we've now cracked it!
</p>

<p>
	As passionate amateur gardeners ourselves, we've already discovered the fantastic health and environmental benefits of home-growing. We're now devoting ourselves to growing the SeedPod community, and making fresh home-grown food available to all. 
	

 
	
		