
<div class="hugeTitle">
	About Us
</div>
<div class="aboutUs">
<p>
	Fresh, home-grown food tastes better than anything you can buy in a shop - trust us on this, it just does! You cannot beat the taste of eating a vegetable picked freshly off the plant, and popped straight into a favourite recipe. But, the challenge has always been in researching what to grow, when to grow it, and how to ensure all the plants survive to produce a bountiful crop. Don't worry though, that's how we can help.
</p>
<p>
	Our carefully crafted 'grow-by-numbers' programme ensures everyone can enjoy eating home-grown vegetables throughout the year. Whether you're a busy parent trying to put a nutritious meal on the table, or a frazzled commuter unable to treat your body to the quality food it craves, SeedPod will help bring a smile to your face.
</p>
<p>
	Everything about SeedPod has been designed with simplicity in mind: from the incredibly easy GoCardless signup page, to our minimalist and environmentally-friendly packaging that will fit perfectly through your letterbox, and of course our regular and easy-to-follow growing guidance. We've taken all the hassle out of planning your vegetable calendar, giving you the freedom to enjoy growing and eating your own food.
</p>
<div class="row">	
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Our Seeds</div>
	  </p>
	  <p>
		<%= link_to image_tag "hero_unit.jpg"%>  
		<div class="aboutColumns">
		All our seeds have been specially selected to be easy to grow, and to maximise the amount of produce. Not all our seeds are organic, but where possible they remain untreated. If you’re interested in only growing from organic vegetable seeds, watch this space! Options to join our exclusively organic programme will be coming very soon indeed.	  
	    </div>
	  </p>
  </div>		
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Ourselves</div>
	  </p>
	  <p>
		<%= link_to image_tag "hero_unit.jpg"%>
		<div class="aboutColumns">
		SeedPod really isn’t about us, as much as it’s about the pleasures of home-growing food. We’re passionate amateur gardeners and have already discovered the fantastic health and environmental benefits that can be gained from home-growing We're now devoting ourselves to expanding the SeedPod community, and to communicating the merits of eating home-grown food.
	    </div>
	  </p>
  </div>		
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Our Website</div>
	  </p>
	  <p>
		<%= link_to image_tag "hero_unit.jpg"%>
	  	<div class="aboutColumns">
		We’ve built SeedPod to be open, and to encourage cooperation. To that end our code is open source and accessible on GitHub on a simple and permissive MIT license. Do please feel free to use and share it. And if you’d like to contribute towards improving our code, we’re really keen to have your input. But if you’re not familiar with using Ruby on Rails, just drop us a line with your thoughts.
	    </div>
	  </p>
  </div>	
</div>
</div>


		
