
<h1 class="hugeTitle">
	About Us
</h1>
<div class="aboutUs">
<p>
	Fresh, home-grown food tastes better than anything you can buy in a shop - it just does! You cannot beat the taste of eating a vegetable picked freshly off the plant, and popped straight into a favourite recipe. But, the challenge has always been in researching what to grow, when to grow it, and how to ensure all the plants survive to produce a bountiful crop. Don't worry though, that's how we can help.
</p>

<p>
	Our carefully crafted 'grow-by-numbers' programme ensures everyone can enjoy eating fresh, more nutritious, home-grown vegetables throughout the year. Whether you're a busy parent trying to put a nutritious meal on the table, a frazzled commuter unable to treat your body to the quality food it craves, or even if you're just looking for a new hobby, SeedPod will help bring a smile to your face.
</p>

<p>
	Everything about SeedPod has been designed with simplicity in mind: from the incredibly easy GoCardless signup page, to our minimalist and environmentally-friendly packaging that will fit perfectly through your letterbox, and of course our regular and easy-to-follow growing guidance. We've taken all the hassle out of planning your vegetable calendar, giving you the freedom to enjoy growing and eating your own food.
</p>
<div class="row">	
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Our Seeds</div>
	  </p>
	  <p>
		<%= image_tag "seeds2.jpg", :class => 'img-responsive centered' %>
		<div class="aboutColumns">
		All our seeds have been specially selected to be easily grown, and to maximise the amount of produce. Some have even received the prestigious <a href="http://www.rhs.org.uk/Plants/Plant-trials-and-awards/Plant-awards/Award-of-Garden-Merit-(AGM)">'Award of Garden Merit'</a> by the RHS.</p> <p>While our seeds are not certified as being organic, where possible they remain untreated. If you’re interested in only growing from organic vegetable seeds, watch this space! Options to join our exclusively organic programme will be coming very soon indeed.
	    </div>
	  </p>
  </div>		
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Ourselves</div>
	  </p>
	  <p>
    <%= image_tag "us.jpg", :class => 'img-responsive' %>
		<div class="aboutColumns">
		We’re passionate gardeners and have already discovered the fantastic health and environmental benefits that can be gained from home-growing. We're now devoting ourselves to expanding the SeedPod community.</p>
		<p>We will be sharing our own experiences - the failures as well as the successes - of growing our monthly seeds. If you'd like to learn more about what we're up to you can either take a look at our <a href="https://www.facebook.com/getseedpod">Facebook page</a>, or follow <a href="https://twitter.com/seedpod">@SeedPod</a> on Twitter. 
	    </div>
	  </p>
  </div>		
  <div class="col-md-4">
	  <p>
	  	<div class="miniAboutTitle">Our Website</div>
	  </p>
	  <p>
		<%= image_tag "website2.jpg", :class => 'img-responsive' %>
	  	<div class="aboutColumns">
		We’ve built SeedPod to be open, and to encourage cooperation. To that end our code is open source and accessible on <a href="https://github.com/seedpod">GitHub</a> on a simple and permissive <a href="http://opensource.org/licenses/MIT">MIT license</a>. Do please feel free to use it, share it and improve upon it. </p><p>We'd like to thank the kind photographers who have granted the use of their <a href="http://www.flickr.com/photos/100382621@N08/favorites">images</a> under a Creative Commons license. And finally we would like to say a huge thank you to our <a href="https://github.com/seedpod/seedpod/graphs/contributors">contributors</a> who built and continue to maintain the site.</p>
	    </div>
	  </p>
  </div>	
</div>
</div>


		
