<div class="aboutUs">
				We've designed a delivery programme that will allow you to grow food throughout the year. It's varied and includes a range of vegetables to supplement your household diet. Subject to availability, subscribers will receive the following two varieties each month:
				</p>
	
				  	<ul>
					<li><strong>October 2013:</strong> Peas (Douce Provence); Lettuce (Brian)</li>
					<li><strong>November 2013:</strong> Broad Beans (Aquadulce); Chives</li>
					<li><strong>December 2013:</strong> Cucumber (Burpless Tasty); Chilli (F1 Rodeo)</li>
					<li><strong>January 2014:</strong> Cauliflower (All year round); Radish (Cherry Bell)</li>
					<li><strong>February 2014:</strong> Onions (Rijnsburger 5); Parsnips (White Gem)</li>
					<li><strong>March 2014:</strong> Cabbage (Glory of Enkuizen); Leek (Lyon 2 Prizetaker)</li>
					<li><strong>April 2014:</strong> Courgette (Zucchini); Tomatoes (Tiny Tim)</li>
					<li><strong>May 2014:</strong> Runner Beans (Kelveden Marvel); Winter Squash (Waltham Butternut)</li>
					<li><strong>June 2014:</strong> French Beans (Tendergreen); Sweetcorn (F1 Sundance)</li>
					<li><strong>July 2014:</strong> Beetroot (Boltardy); Spinach (F1 Renegade)</li>
					<li><strong>August 2014:</strong> Carrots (F1 Flyaway); Turnips (Goldana)</li>
					<li><strong>September 2014:</strong> Pak Choi (F1 Hanakan); Rocket (Cultivated Rocket)</li>
				</ul>
				</div>