
<h1 class="hugeTitle">
	Any Questions?
</h1>
<div class="aboutUs">
<p>We think you'll find the answers to most of your questions below. If not, drop us a line at <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a>.</p>
</div>
<div class="faq">
	
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
  			Requirements
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">	
  <p>
  	<strong>How much space will I need?</strong> Our growing programme is perfect for small family gardens. If you don't have enough space to plant all the seeds each month, you can stagger your sowing to extend the cropping period. We will soon be adding smaller 'window-box' and larger 'allotment' options. 
</p>

<p>
	If you'd like, you could build some fancy raised beds, but it really isn't necessary. By all means clear away some space in an unloved flower bed, or dig up a patch of lawn in the corner of the garden. However, even that isn't really necessary - your veggies will live happily around other plants and don't need a dedicated plot. But wherever you choose, you'll need decent soil, shelter from the wind, and sunlight. 
</p>

  <p>	
  	<strong>Do I need a greenhouse or cold-frame?</strong> If you're lucky enough to have either, then great, but we understand that not everyone does. That's why we have designed as many of our seeds as possible to be sown straight into the ground. There may be occasions when you will need to sow indoors, but a propagator or seed tray placed against a warm window will suffice - and we will always advise you when this is the case.
  </p>

  <p>
    <strong>What equipment or tools will I need?</strong> We're not expecting you to go out and buy lots of equipment - we're keeping things simple. As a bare minimum you will need both a small and a large digging tool, such as a trowel and large garden fork. You will also need a seed tray or propagator (any high sided tray with holes in the bottom) for growing within a protected environment, some peat-free potting compost, and labels to help identify your plants.
</p>

<p>
<strong>What other things will I need to do once I join?</strong> You'll need to prepare your soil. Make sure whenever you are sowing or planting directly into garden soil that it's been loosened with a garden fork or spade - this is a must in order to give your baby plants a chance to make it to daylight. Adding organic matter (either a soil improver or compost from your local garden centre, or even your own garden compost) would be ideal. Improving the condition of your soil will ensure it contains sufficient nutrients for your plants. It will also improve moisture retention. You'll be amazed at the difference this will make.
</p>

<p>You would also do really well by starting your own compost heap. In short, you should start collecting your vegetative matter (e.g. grass cuttings and vegetable scraps) as well as shredded paper from your unwanted mail. Mix them up in as large a container as possible, and keep it moist. Garden compost will come in extremely handy.
</p>

  <p>
  	<strong>How many people will I be able to feed?</strong> The vegetable growing programme is intended to supplement the diet of a couple, or a small family, depending on the amount of growing space that is set aside. We are not suggesting that SeedPod alone will be able to feed a whole family, and there will certainly be occasions during the year when you have too much produce, and other times when you have too little. But through the clever use of storage and preserving techniques you should be able to enjoy your home-grown food all year round.	
  </p>
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			Subscribing
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">			
	<strong>When can I subscribe?</strong> You can subscribe at any time and you will receive a monthly SeedPod delivery at the beginning of each month.
</p>

<p>
	<strong>How much is a monthly subscription?</strong> For only £6.00 each month (which includes postage and packing) you will receive two different types of vegetable seed, and also have access to our timely guidance on how to sow, grow and crop your plants.
</p>

<p>
	<strong>How much is postage and packing?</strong> Postage and packing is included in the cost of your monthly subscription, and won't cost you anything extra.
</p>
	  </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			  Deliveries
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">	
<p>
	<strong>How are the seeds delivered?</strong> We use 2nd class Royal Mail delivery to get your SeedPod straight through your letterbox. This means no 'sorry we missed you' cards, hiding a parcel behind a gate, or for you to head down to the depot to collect a missed delivery.  
</p>	

<p>
	<strong>Do you ship internationally?</strong> No, sorry, we only deliver to UK postal addresses, excluding the Channel Islands and the Isle of Man.
</p>

<p>	
    <strong>When will I receive the SeedPod?</strong> Each SeedPod is delivered at the start of the month, but you can subscribe at any time, and you payment will only be deducted just prior to delivery.
</p>

<p>
	<strong>What do I do if seeds don't arrive?</strong> Just let us know and we'll happily send you another SeedPod delivery as soon as possible at no additional charge.
</p>
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			Seeds
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Are the seeds organic?</strong> Our seeds have been specially selected to be easy to grow, and to maximise the amount of produce, therfore not all our seeds are organic. Where possible, they remain untreated. We will be adding the option for an exclusively organic vegetable seed subscription very soon indeed. 
</p>

<p>
	<strong>What vegetable varieties will I receive over the course of the year?</strong> Our growing programme has been designed to ensure you are able to sow and grow throughout the year. The typical range of seeds you might receive includes: beetroot, broad beans, cabbage, carrots, cauliflower, chives, courgette, cucumber, french beans, leeks, onions, pak choi, parsnip, peas, rocket, runner beans, spinach, squash, sweetcorn, tomatoes, turnip, winter lettuce, chilli, winter radish. Actual vegetable seeds included in monthly SeedPods may vary according to availability.
</p>
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			Growing
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Can seeds be planted straight into normal soil?</strong> You will greatly improve your vegetables by keeping your soil in good condition. This means thoroughly digging and turning your soil prior to sowing, and ideally adding plenty of organic matter such as soil improver or compost.
</p>

<p>
	<strong>How should I store my excess seeds that haven't been sown?</strong> If you find yourself with too many seeds, most can be kept for sowing the following weeks. By staggering your sowing you can stagger (and extend) the cropping period. Make sure you store spare seeds somewhere cool, dark and dry to keep them dormant.
</p>
    </div>
  </div>
</div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
			Environment
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>How much of the packaging can be recycled?</strong> All of our packaging is 100% recyclable, even the outer envelope is padded with shredded paper and can be popped into your paper recycling bin. Better yet, tear it up and add it to your compost.
</p>

<p>
	<strong>What are food miles?</strong>This is the distance that items of food have travelled in order to reach your plate from wherever it was produced. Home growing your own food means you can reduce the amount of energy used to transport food around the globe, thereby reducing the harmful impact upon the environment.
    </div>
  </div>
</div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
			Privacy and how we use Cookies
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Will you share my data with other companies so they can send me marketing emails?</strong> We promise we will never sell, rent or share any of your data to/with a third party. 
</p>

<p>
	<strong>What are cookies, and how do you use them?</strong> We use Google Analytics to measure visitor behaviour so we can improve our website. Google Analytics uses four first party cookies in the following ways:
	<ul><li>__utma Cookie - A persistent cookie which remains on a computer, unless it expires or the cookie cache is cleared. Metrics associated with this cookie include tracking first visit (unique visit) and last visit (returning visit).</li>
	<li>__utmb Cookie & __utmc Cookies - These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of your visit. Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when you leave the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends, if no new page view is recorded in 30 minutes the cookie is expired. This is a standard 'grace period' in web analytics.</li>
	<li>__utmz Cookie - Cookie __utmz monitors the HTTP Referrer and notes where you arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation data. This cookie lasts six months.</li>
	<li>__utmv Cookie - lasts "forever". It is a persistent cookie. It is used for segmentation, data experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie targeting capabilities.</li>
</ul>
    </div>
  </div>
</div>
</div>
