<h1>Frequently Asked Questions</h1>

<p>
	<strong>How are the seeds delivered?</strong> We use 2nd class Royal Mail delivery to get your SeedPod straight through your letterbox. This means no 'sorry we missed you' cards, hiding a parcel behind a gate, or for you head down to the depot to collect a missed delivery.  
</p>	

<p>
	<strong>Are all the seeds organic?</strong> Yes, as certified by the Soil Association.
</p>

<p>	
    <strong>When will I receive the SeedPod?</strong> It depends on when you sign-up during any given month, but each of your SeedPods should arrive 4-5 weeks apart.
</p>

<p>	
	<strong>Do I need a greenhouse or cold-frame?</strong> If you're luck enough to have such facilities, then great, but we understand that not everyone does. That's why we have designed as many of our seeds as possible to be planted straight into the ground. There may be occasions when you will need to sow some seeds inside, but a warm window should be sufficient - and we will always advise you when this is necessary.
</p>

<p>	
	<strong>How much space do I need?</strong> Tough question! The more space you can devote to growing your vegetables the better. But even the smallest backyard can usually accomodate a small plot for growing. Or there are always window-boxes. Our first vegetables grew from a grow-bag on a flat-roof above a garage!
</p>
	
<p>
	<strong>How many people will I be able to feed?</strong> The vegetable growing programme is intended to supplement the diet of a couple, or a small family, depending on the amount of growing space that is set aside. We are not suggesting that SeedPod alone will be able to feed a family.	
</p>

<p>
  <strong>What do I need?</strong> We're not expecting you to go out and buy lots of equipment - we're keeping things simple here. But the following would come in handy:
    <ul>
      <li>You will need something to plant your seeds in, which means some seed trays and potting compost from your local garden centre.</li>
      <li>To keep your seeds happy and make them grow big and strong, some of them will be better off being protected, so a propagator (a plastic cover or cling film) and a sunny window sill will give them a good head start.</li>
      <li>Space to plant. Just a patch of mud is all you need here, but stick a fork in it a few times will help improve your soil conditions.</li>
    </ul>
</p>
