
<h1 class="hugeTitle">
	FAQ
</h1>
<div class="aboutUs">
<p>We think you'll find the answers to most of your questions below. If not, drop us a line at <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a>.</p>
</div>
<div class="faq">
	
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
  			<div class="faqTitle">Requirements</div>
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">	
  <p>
  	<strong>How much space will I need?</strong> Our growing programme is perfect for a range of spaces. The 'Balcony' option is perfect if you live in a flat, and will be growing in pots. The 'Garden' option may suit a small family garden, whilst the 'Allotment' option is great for larger gardens or allotments. If you don't have enough space to plant all the seeds each month, you can stagger your sowing to extend the cropping period. 
</p>

  <p>	
  	<strong>Do I need a greenhouse or cold-frame?</strong> If you're lucky enough to have either, then great, but we understand that not everyone does. That's why we have designed as many of our seeds as possible to be sown straight into the ground. There may be occasions when you will need to sow indoors, but a propagator or seed tray placed against a warm window will suffice - and we will always advise you when this is the case.
  </p>

  <p>
    <strong>What equipment or tools will I need?</strong> We're not expecting you to go out and buy lots of equipment - we're keeping things simple. As a bare minimum you will need both a small and a large digging tool, such as a trowel and large garden fork. You will also need a seed tray or propagator (any high sided tray with holes in the bottom) for growing within a protected environment, some peat-free potting compost, and labels to help identify your plants.
</p>

<p>
<strong>What other things will I need to do once I join?</strong> You'll need to prepare your soil by ensuring it has been loosened, and that it contains plenty of organic matter. Starting your own compost heap will certainly help. 
</p>

  <p>
  	<strong>How many people will I be able to feed?</strong> The vegetable growing programme is intended to supplement diets, and shouldn't be relied upon alone. The 'Balcony' option may supplement the diet of a couple, whilst the 'Garden' and 'Allotment' options would suit a small or a larger family. There will certainly be occasions during the year when you have too much produce, and other times when you have too little. But through the clever use of storage and preserving techniques you should be able to enjoy your home-grown food all year round.	
  </p>
      </div>
    </div>
  </div>
	
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			<div class="faqTitle">Subscribing and Payments</div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">			
	<strong>When can I subscribe? Am I limited to joining at a certain time during each month?</strong> You can subscribe at any time during the month.
</p>

<p>
	<strong>How much is a individual monthly subscription?</strong> The price of subscriptions vary depending on whether you choose organic or non-organic programme, and depending on the size option you choose. Full details can be found on our Subscribe page.
</p>

<p>
	<strong>What form of payment do you accept?</strong> We only accept payment by Direct Debit using GoCardless for our individual subscriptions. They are a British company who specialise in providing secure methods of online payment. PayPal can be used to pay for our range of gift subscriptions. 
</p>

<p>
	<strong>Why don't you accept Debit/Credit Cards?</strong> SeedPod is a subscription service requiring a regular monthly payment, and Direct Debit is the simplest and most secure way of doing this. It's exactly the same Direct Debit as you use for paying your regular utility bills or mobile phone bill, except that it is administered by GoCardless. This means we don't have access to any of your bank account details. 
</p>

<p>
	<strong>Why do GoCardless require my bank account number and sort code? Usually when buying online I just need to provide 12 numbers on the front of my card!</strong> A Direct Debit is a system of authorising a regular transaction to be taken directly from a bank account. It means we don't need to keep on hassling you to authorise a payment on your card each month. But don't worry, you can cancel your Direct Debit whenever you like without any cancellation fee.  
</p>

<p>
	<strong>How much is delivery?</strong> Delivery is provided free of charge.
</p>

<p>
	<strong>Can I get a VAT receipt?</strong> Certainly. Please send us an email and we will be happy to provide you with a VAT receipt. You should be aware that the vegetable seeds for which you are paying are subject to zero-rated VAT.
</p>
	  </div>
    </div>
  </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			  <div class="faqTitle">Deliveries</div>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">	
<p>
	<strong>How are the seeds delivered?</strong> We use 2nd class Royal Mail delivery to get your SeedPod straight through your letterbox. This means no 'sorry we missed you' cards, hiding a parcel behind a gate, or for you to head down to the depot to collect a missed delivery.  
</p>	

<p>
	<strong>Do you ship internationally?</strong> No, sorry, we only deliver to UK postal addresses, excluding the Channel Islands and the Isle of Man.
</p>

<p>	
    <strong>When will I receive the SeedPod?</strong> You can subscribe at any time, and will receive your first seeds no more than 10 days after subscribing. You will receive subsequent SeedPod deliveries on the same day each month (+/-2 days). Payment will only be deducted just prior to delivery during subsequent months.
</p>

<p>	
    <strong>Why does it take so long to receive my first SeedPod?</strong> We despatch your seeds once the first Direct Debit payment has been authorised by your bank. This process of making the first payment via Direct Debit can take slightly longer than payments by debit card or credit card. You can follow how quickly this process takes by signing into your GoCardless account. If you are entering a gift code then a delivery will be sent within 48 working hours. 
</p>

    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			<div class="faqTitle">Seeds</div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Are the seeds organic?</strong> We offer organic seeds by default, although you can opt out and choose the non-organic package if you prefer. All our seeds have been specially selected to be easily grown, and to maximise the amount of produce. Where possible, the non-organic seeds remain untreated. Most of our organic seeds (and even some of our non-organic ones) have received the Award of Garden Merit by the Royal Horticultural Society.
</p>

<p>
	<strong>What vegetable varieties will I receive over the course of the year?</strong> Our growing programme has been designed to ensure you are able to sow and grow throughout the year. The typical range of seeds you might receive includes: beetroot, broad beans, cabbage, carrots, cauliflower, chives, courgette, cucumber, french beans, leeks, onions, pak choi, parsnip, peas, rocket, runner beans, spinach, squash, sweetcorn, tomatoes, turnip, winter lettuce, chilli, winter radish. Actual vegetable seeds included in monthly SeedPods may vary according to availability.
</p>
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			<div class="faqTitle">Growing</div>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Can seeds be planted straight into normal soil?</strong> You will greatly improve your vegetables by keeping your soil in good condition. This means thoroughly digging and turning your soil prior to sowing, and ideally adding plenty of organic matter such as soil improver or compost.
</p>

<p>
	<strong>How should I store my excess seeds that haven't been sown?</strong> If you find yourself with too many seeds, most can be kept for sowing the following weeks. By staggering your sowing you can stagger (and extend) the cropping period. Make sure you store spare seeds somewhere cool, dark and dry to keep them dormant.
</p>
    </div>
  </div>
</div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
			<div class="faqTitle">Environment</div>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>How much of the packaging can be recycled?</strong> All of our packaging is 100% recyclable, even the outer envelope is padded with shredded paper and can be popped into your paper recycling bin. Better yet, tear it up and add it to your compost.
</p>

<p>
	<strong>What are food miles?</strong> This is the distance that items of food have travelled in order to reach your plate from wherever it was produced. Home growing your own food means you can reduce the amount of energy used to transport food around the globe, thereby reducing the harmful impact upon the environment.
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
			<div class="faqTitle">Gift Subscriptions</div>
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>What range of gift subscriptions do you provide?</strong> We offer a fantastic range of gift subscriptions, most of which include a discount when compared to our standard month-by-month payment option. Check out our Gift Subscriptions page for the latest range of offers.
</p>

<p>
	<strong>How does a gift subscription work?</strong> Our gift subscriptions, like everything in SeedPod, are incredibly simple: all your lucky recipient has to do is to is create their own account, and to enter the unique gift code that is generated when you make your purcahase. This code will allow them access for the duration of the subscription for which you've paid.
</p>

<p>
	<strong>How do I/they receive their gift code?</strong> Once you've selected the length of the subscription you would like to purchase, you have the option of either receiving the code yourself by email, to forward or print as you prefer. Alternatively you can let us forward the gift code to the lucky recipient by email, on a date of your choosing.
</p>

<p>
	<strong>Is a card sent in the post?</strong> We are acutely conscious of reducing our impact on the environment. For this reason all our correspondence with you and your chosen recipient is by email. You are of course welcome to print the gift code and forward it by post if you prefer!
</p>

<p>
	<strong>I like that most gift subscriptions receive a discount. Can I just pay up front and receive the same discount?</strong> You sure can! Simply add your own details as the recipient for a gift subscription, and use that code to give youself the discounts as detailed above. Think of it as treating yourself. 
</p>
	
	 
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
			<div class="faqTitle">Privacy and how we use Cookies</div>
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>Will you share my data with other companies so they can send me marketing emails?</strong> No. We promise to never sell, distribute, share, lease or rent your personal data to or with third parties, unless we are required to do so by law. 
</p>

<p>
	<strong>What are cookies, and how do you use them?</strong> A cookie is a small file which helps analyse web traffic. Cookies allow web applications to respond to you as an individual, tailoring the site to your needs, likes and dislikes by gathering and remembering information about your preferences. Although cookies identify a user’s computer, they do not personally identify users.</p>  
<p>
We use cookies from <a href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> to measure visitor behaviour. This helps us analyse data about web traffic and improve our website. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. 
</p>

<p>
	For further details you are advised to read our <%= link_to "Privacy & Cookies", page_path("privacy_and_cookies") %> policy in full.
</p> 
    </div>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
			<div class="faqTitle">Cancelling a Subscription</div>
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="panel-body">	
<p>
	<strong>When am I allowed to cancel my subscription? Is there a 12 month contract or tie-in?</strong> You can cancel your subscription whenever you like, without any cancellation charges.
</p>

<p>
	<strong>Will cancelling my subscription, or deleting my SeedPod account, automatically delete my GoCardless account?</strong> No. If you wish to delete your GoCardless account you will need to do so yourself via their website.
</p>
  
<p>
	<strong>Will I still have access to the growing guidance if I cancel my subscription?</strong> No. Access to our growing guidance is exclusive to paying subscribers - including those seeds already sown during previous months.
</p>

    </div>
  </div>
</div>
</div>

