<h1>Frequently Asked Questions</h1>

<p>
	<h3>Subscribing</h3>
</p>

<p>
	<strong>When can I subscribe?</strong> You can subscribe at any time and you will receive a monthly SeedPod delivery at the beginning of each month.
</p>

<p>
	<strong>How much is a monthly subscription?</strong> For only £6.00 each month (which includes postage and packing) you will receive two different types of vegetable seed, and also have access to our timely guidance on how to sow, grow and crop your plants.
</p>

<p>
	<strong>How much is postage and packing?</strong> Postage and packing is included in the cost of your monthly subscription, and won't cost you anything extra.
</p>

<p>
	<h3>Deliveries</h3>
</p>

<p>
	<strong>How are the seeds delivered?</strong> We use 2nd class Royal Mail delivery to get your SeedPod straight through your letterbox. This means no 'sorry we missed you' cards, hiding a parcel behind a gate, or for you to head down to the depot to collect a missed delivery.  
</p>	

<p>
	<strong>Do you ship internationally?</strong> No, sorry, we only deliver to UK postal addresses.
</p>

<p>	
    <strong>When will I receive the SeedPod?</strong> Each SeedPod is delivered at the start of the month, but you can subscribe at any time, and you payment will only be deducted just prior to delivery.
</p>

<p>
	<strong>What do I do if seeds don't arrive?</strong> Just let us know and we'll happily send you another SeedPod delivery as soon as possible at no additional charge.
</p>

<p>
	<h3>Seeds</h3>
</p>

<p>
	<strong>Are the seeds organic?</strong> Our seeds have been specially selected to be easy to grow, and to maximise the amount of produce, therfore not all our seeds are organic. Where possible, they remain untreated. We will be adding the option for an exclusively organic vegetable seed subscription very soon indeed. 
</p>

<p>
	<strong>What vegetable varieties will I receive over the course of the year?</strong> Our growing programme has been designed to ensure you are able to sow and grow throughout the year. The typical range of seeds you might receive includes: beetroot, broad beans, cabbage, carrots, cauliflower, chives, courgette, cucumber, french beans, leeks, onions, pak choi, parsnip, peas, rocket, runner beans, spinach, squash, sweetcorn, tomatoes, turnip, winter lettuce, chilli, winter radish. Actual vegetable seeds included in monthly SeedPods may vary according to availability.
</p>

<p>
	<h3>Growing</h3>
</p>

<p>
	<strong>Can seeds be planted straight into normal soil?</strong> You will greatly improve your vegetables by keeping your soil in good condition. This means thoroughly digging and turning your soil prior to sowing, and ideally adding plenty of organic matter such as soil improver or compost.
</p>

<p>
	<strong>How should I store my excess seeds that haven't been sown?</strong> If you find yourself with too many seeds, most can be kept for sowing the following weeks. By staggering your sowing you can stagger (and extend) the cropping period. Make sure you store spare seeds somewhere cool, dark and dry to keep them dormant.
</p>

<p>
	<h3>Requirements</h3>
</p>

<p>
	<strong>How much space will I need?</strong> Our growing programme is perfect for small family gardens. If you don't have enough space to plant all the seeds each month, you can stagger your sowing to extend the cropping period. We will soon be adding smaller 'window-box' and larger 'allotment' options. 
</p>

<p>	
	<strong>Do I need a greenhouse or cold-frame?</strong> If you're lucky enough to have either, then great, but we understand that not everyone does. That's why we have designed as many of our seeds as possible to be sown straight into the ground. There may be occasions when you will need to sow indoors, but a warm window will suffice - and we will always advise you when this is the case.
</p>

<p>
  <strong>What do I need?</strong> We're not expecting you to go out and buy lots of equipment - we're keeping things simple here. But the following would come in handy:
    <ul>
      <li>You will need something to plant your seeds in, which means some seed trays and potting compost from your local garden centre.</li>
      <li>To keep your seeds happy and make them grow big and strong, some of them will be better off being protected, so a propagator (a plastic cover or cling film) and a sunny window sill will give them a good head start.</li>
      <li>Space to plant. Just a patch of soil is all you need here, but stick a fork in it a few times will help improve your soil condition.</li>
    </ul>
</p>

<p>
	<strong>How many people will I be able to feed?</strong> The vegetable growing programme is intended to supplement the diet of a couple, or a small family, depending on the amount of growing space that is set aside. We are not suggesting that SeedPod alone will be able to feed a family.	
</p>

<p>
	<h3>Environment</h3>
</p>

<p>
	<strong>How much of the packaging can be recycled?</strong> All of our packaging is 100% recyclable, even the outer envelope is padded with shredded paper and can be popped into your paper recycling bin. Better yet, tear it up and add it to your compost.
</p>

<p>
	<strong>What are food miles?</strong>This is the distance that items of food have travelled in order to reach your plate from wherever it was produced. Home growing your own food means you can reduce the amount of energy used to transport food around the globe, thereby reducing the harmful impact upon the environment.


