<div class="hugeTitle">
Preview Pod
</div>
<div class="aboutUs">
So here's what you can expect from your monthly guidance. You'll have access to the current month's instructions as well as your previous 2 months in case you fall behind a bit. As you can see, we keep it simple and to the point. Subscribe today here....

<div class="row">	
  <div class="col-md-12">
	  <div class="boxes">
	  <p>
	  	<div class="miniAboutTitle">Sweetcorn</div>
	  </p>
	  <p>
		<img src="/assets/sweetcorn.jpg" img class="img-responsive pull-right" width= "400" Hspace="10" Vspace="10">  
		It's sweetcorn time! And trust me, you've never tasted proper sweetcorn until it's been picked seconds before steaming and eating straight away - truly delicious. So, here's how we do it:
		<ol>
		<li>First of all - this is one of the few crops that need some consideration as to their location. They need lots of warmth and sunshine, good quality soil and to be planted in a block to aid polination. So dig in some soil improver, compost or manure before you plant. </li>
		<li>Sow the seeds directly into the soil. Make holes at least 30cm apart, a couple of cms deep and drop a seed in each hole. Fill the holes with soil, and water well. It's important to keep them damp - that means watering every day during the heat of summer. </li>
		<li>The seeds will need about 18 degrees in order to start growing, so if it's chilly where you are, cover the soil with a plastic sheet to keep them toasty warm. You should start to see your seedlings sprout in around 2 weeks, and if the are gaps in your block after three weeks then fill them in with your spare seeds. </li>
	</ol>
	</p>
	</div>
</div>
  <div class="col-md-4">
	<div class="boxes">
	  <p>
	  	<div class="miniAboutTitle">French Beans</div>
	  </p>
	  <p>
		<img src="/assets/french.jpg" img class="img-responsive" Vspace="10" >  
		French Beans produce lots of beans over a good few weeks so can make a plentiful and reliable crop. Plant two beans every 25cm and, if doing more than one row, keep rows about 75cm apart. French bean plants will grow tall and the shoots will need something to climb. You will need to make a few, long rows rather than many short ones, and in a position where you can either build a bamboo A-frame or against a trellised wall. 
	</p>
	</div>
</div>
  <div class="col-md-8">
  	<div class="boxes">
	  <p>
	  	<div class="miniAboutTitle">Runner Beans</div>
	  </p>
	  <p>
		<img src= "/assets/runner.jpg" img class= "img-responsive pull-left" width= "250" Hspace="10" Vspace="10" >
		<p>By now you should have some strong little runner bean plants. </p><p>They are going to grow tall and will need something against which to climb, so putting a trellis on the wall or build a simple frame out of sticks and string, but make sure it's at least 6ft tall and sturdy. You won't need to tie them on - just wrap them round the frame and beans will hang on by themselves.</p> <p>Fill in any gaps with spare seeds and if two plants came up together, then pull up the weakest plant. More words more words more words</p>
	</p>
	</div>
</div>
  <div class="col-md-8">
	<div class="boxes">
	  <p>
	  	<div class="miniAboutTitle">Courgette</div>
	  </p>
	  <p>
		<img src= "/assets/courgette.jpg" img class= "img-responsive pull-right" Hspace="10" width="240" Vspace="10">  
		You should now be beginning to see some flowers and baby courgettes on your plant. Courgettes produce a lot of fruit so harvest them when they're small and keep on top of them: it only takes a couple of days for them to swell up to marrows and are then very difficult to eat as fast as they grow! The flowers are also tasty, so don't throw them away when you pick your fruit - chuck them in a stir fry instead. When picking, simple twist and pull, but be careful - the leaves and fruit have tiny hairs on that can irritate your skin, so wash your hands after. 
	</p>
	</div>
</div>
</div>
</div>
