<h1 class="hugeTitle">
	Privacy & Cookies
</h1>
<div class="aboutUs">

<p><strong>Our Policy</strong></p>

<p>This privacy policy sets out how we use and protect any information that you provide when using our website.</p>

<p>We may change this policy from time to time by updating this page, and we advise you revist this page for our most up to date policy. This current policy is effective from 1 September 2013.</p>

<p><strong>Our Promise</p></strong>

<p>We are committed to ensuring that your personal data, and your privacy, are both protected.</p>

</p>We therefore promise to never sell, distribute, share, lease or rent your personal data to or with third parties, unless required to do so by law.</p>
 
<p>Once you have joined SeedPod, you will be asked to provide an email address and a password by which you can be identified when using this website. You can be assured that it will only be used in accordance with this privacy statement.</p>

<p><strong>What we collect, and why</p></strong>

<p>We ask for the following information from users wishing to join SeedPod:</p>

<ul>
<li>name of the SeedPod account holder who will receive the monthly vegetable seed subscription</li>
<li>postal address for the delivery of each monthly SeedPod</li>
<li>email address:<ul>
<li>for logging into the SeedPod account</li>
<li>for keeping the account holder informed of new SeedPod deliveries</li></ul>
<li>password for logging into the SeedPod account</li>
</ul>

<p>Subscribers will also be required to enter the following information with GoCardless on their secure payment page:</p>
<ul>
<li>name of the person paying for the SeedPod monthly vegetable seed subscription</li>
<li>billing address for the SeedPod monthly vegetable seed subscription</li>
<li>sort code and account number to setup a secure monthly Direct Debit</li>
<li>email address for logging into a GoCardless account</li>
<li>password for logging into a GoCardless account</li>
</ul>

<p><strong>Security</p></strong>

<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

<p><strong>Our use of Cookies</p></strong>

<p>A cookie is a small file which helps analyse web traffic. Cookies allow web applications to respond to you as an individual, tailoring the site to your needs, likes and dislikes by gathering and remembering information about your preferences. Although cookies identify a user’s computer, they do not personally identify users.</p>  

<p>We use cookies from <a href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> to measure visitor behaviour. This helps us analyse data about web page traffic and improve our website. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p> 

<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of our website.</p>

<p><strong>Links to other websites</p></strong>

<p>Our website contains links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites, and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

<p><strong>Data Protection Act 1998</p></strong>

<p>You have a legal right under the Data Protection Act 1998 to a copy of all the personal information we hold on you. If you would like a copy of this information please email <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a> and we shall provide it to you at no cost.</p>

<p>If you believe that any information we hold on you is incorrect or incomplete you can amend those details via your account settings.</p> 

</div>	