<h1 class="hugeTitle">
	Privacy and Use of Cookies
</h1>
<div class="aboutUs">

<p>
Your privacy is extremely important to us. To that end we promise we will never sell, rent or share any of your data to/with a third party. When initially subscribing to SeedPod your account details will automatically be pulled through to fill the same fields within the secure payment page of the GoCardless site. 
</p>

<p>
    We use Google Analytics to measure visitor behaviour so we can improve our website. Google Analytics uses four first party cookies in the following ways:
	<ul><li>__utma Cookie - A persistent cookie which remains on a computer, unless it expires or the cookie cache is cleared. Metrics associated with this cookie include tracking first visit (unique visit) and last visit (returning visit).</li>
	<li>__utmb Cookie & __utmc Cookies - These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of your visit. Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when you leave the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends, if no new page view is recorded in 30 minutes the cookie is expired. This is a standard 'grace period' in web analytics.</li>
	<li>__utmz Cookie - Cookie __utmz monitors the HTTP Referrer and notes where you arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation data. This cookie lasts six months.</li>
	<li>__utmv Cookie - lasts "forever". It is a persistent cookie. It is used for segmentation, data experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie targeting capabilities.</li>
</ul>

<p>

</div>	