<h1 class="hugeTitle">
	Terms & Conditions
</h1>
<div class="aboutUs">
<p>
	<strong>Legal</strong>
</p>

<p>
	The website www.getseedpod.com is operated by SeedPod Ltd. (company number 08469306) which is a company registered in England and Wales. 
</p>

<p>	
	The registered office is: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.
</p>

<p>
	Access and use of this website, and membership of SeedPod, is at all times subject to these Terms and Conditions set out below.
</p>

<p>
	We reserve the right to change these Terms and Conditions of use at our discretion, and shall endeavour to give prior notice of any such change.
</p>

<p>
	<strong>Privacy and how we use Cookies</strong>
</p>

<p>
We collect personal information about you through your use of this website and our services. All information that we collect about you is subject to our <%= link_to "Privacy & Cookies", page_path("privacy_and_cookies") %> policy.
</p>

<p>
We are commited to ensuring the protection of both your personal and your privacy. We therefore promise to never sell, distribute, share, lease or rent your personal data to or with third parties, unless required to do so by law, or as necessary for us to provide you with the information, products and services that you request from us.
</p>

<p>
    We use cookies from <a href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> to measure visitor behaviour. This helps us analyse data about web traffic and improve our website. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. 
</p>

<p>
	For further details you are advised to read our <%= link_to "Privacy & Cookies", page_path("privacy_and_cookies") %> policy in full.
</p> 
	
<p>
<strong>Payments and Deliveries</strong>
</p>

<p>
	All payments made to SeedPod on our website are managed securely by GoCardless. For details of their terms and conditions please visit their <a href="https://gocardless.com/legal/customers">website</a>.
</p>

<p>
	When you subscribe to SeedPod a monthly payment of £6.00 (including VAT) will be taken by GoCardless by setting up a direct debit. The direct debit usually takes 8-14 days to be authorised by your bank. Upon confirmation of your first payment by the bank, your first delivery of two different vegetable seeds will be despatched. 
</p>

<p>
	Your seeds will be despatched approximately the same day each month as your first delivery (+/- 2 days), at which time you will gain access to your online guidance for that month.
</p>

<p>
	Delivery is provided with our monthly subscriptions at no additional cost to you.
</p>

<p>
	We only despatch to postal addresses in the United Kingdom, excluding the Channel Islands and the Isle of Man.
</p>

<p>
	If your order is damaged or lost during transit we will send a replacement as soon as we can, at no additional cost to you.
</p> 

<p>
	<strong>Refunds, Returns, and Cancelling your Subscription</strong>
</p>

<p>
	If you are unhappy with your SeedPod deivery for any reason, and wish to receive a refund, you must inform us within 7 days of receipt. All seed packets must be returned unopened. A full refund will be issued within 30 days.
</p>

<p>
	Any request for a refund will not result in the automatic cancellation of your subscription. You will therefore continue to make payments for, and to receive, subsequent SeedPod deliveries.
</p>

<p>
	We are a subscription service, with no contractual tie-in – you can cancel at any time without penalty and we won't take the following month's payment. Subscriptions may be cancelled within your Account Settings.
</p> 
	
<p>
	Cancelling your subscription with SeedPod, or deleting your SeedPod account, will not result in the deletion of your GoCardless account. This would need to be completed independently.
</p>

<p>
	Growing guidance is only accessible whilst a subscription remains active. The cancellation of a SeedPod subscription will result in loss of access to all growing guidance, including for seeds that have already been sown in previous months.
</p>
	 
<p>
	<strong>Copyright, Licenses and use of Intellectual Property</strong>
</p>
	
<p>
	Our code is open source and accessible on <a href="https://github.com/seedpod">GitHub</a> on a simple and permissive <a href="http://opensource.org/licenses/MIT">MIT license</a>. Do please feel free to use it, share it and improve upon it.
<p>
	
<p>
	The use of all <a href="http://www.flickr.com/photos/100382621@N08/favorites">images</a> on this site have been granted under a Creative Commons license by kind permission of their owners.
</p>
	
<p>
	All other content is the copyright of SeedPod Ltd. 2013, with all rights reserved.
</p>
	
	<strong>Other</strong>
</p>

<p>
	Still have questions? Check out our <%= link_to "Any Questions", page_path("faq") %> page or email us at <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a>.
</p>
</div>	