<h1>Terms and Conditions</h1>

<p>
	By using this site, you are confirming that you are over 18 years of age.

	If your order is damaged or lost during transit we will send a replacement order as soon as we can. 

	We are a subscription service, with no contractual tie-in – you can cancel at any time. 

    After 12 consecutive months of subscription (ie after one year) your account will be credited with one month's free delivery as a     loyalty reward. There is no part reward for less than 12 consecutive months of subscription. The cancellation of an account or        subscription will reset the accumulation of loyalty points to zero, and will not be recredited following the resumption of any        subscription or account.

	We will never sell, rent or share your data to/with a third party.

	getseedpod.com and associated websites are operated by SeedPod Ltd (#########) which is a company registered in England and           Wales. Our registered office is: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.

	Still have questions? Get in touch and we will respond ASAP.
</p>
	