<h1 class="hugeTitle">
	Terms & Conditions
</h1>
<div class="aboutUs">
<p>
	<strong>Legal</strong>
</p>

<p>
	By using this site, you are confirming that you are over 16 years of age.
</p>

<p>
	www.getseedpod.com is operated by SeedPod Ltd. (08469306) which is a company registered in England and Wales. 
</p>

<p>	
	Our registered office is: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.
</p>

<p>
	<strong>Privacy and how we use Cookies</strong>
</p>

<p>
    We promise we will never sell, rent or share any of your data to/with a third party. 
</p>

<p>
    We use Google Analytics to measure visitor behaviour so we can improve our website. Google Analytics uses four first party cookies in the following ways:
	<ul><li>__utma Cookie - A persistent cookie which remains on a computer, unless it expires or the cookie cache is cleared. Metrics associated with this cookie include tracking first visit (unique visit) and last visit (returning visit).</li>
	<li>__utmb Cookie & __utmc Cookies - These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of your visit. Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when you leave the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends, if no new page view is recorded in 30 minutes the cookie is expired. This is a standard 'grace period' in web analytics.</li>
	<li>__utmz Cookie - Cookie __utmz monitors the HTTP Referrer and notes where you arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation data. This cookie lasts six months.</li>
	<li>__utmv Cookie - lasts "forever". It is a persistent cookie. It is used for segmentation, data experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie targeting capabilities.</li>
</ul>

<p>

	<strong>Payments and Deliveries</strong>
</p>

<p>
	All payments made to SeedPod on our website are managed securely by GoCardless. For details of their terms and conditions please visit their <a href="https://gocardless.com/legal/customers">website</a>.
</p>

<p>
	When you subscribe to SeedPod a monthly payment of £6.00 (including VAT) will be taken by GoCardless between 5-10 working days prior to sending you your monthly delivery of two different vegetable seeds. 
</p>

<p>
	Your seeds will be despatched in the first week of each month.
</p>

<p>
	Delivery is provided with our monthly subscriptions at no additional cost to you.
</p>

<p>
	We only despatch to postal addresses in the United Kingdom, excluding the Channel Islands and the Isle of Man.
</p>

<p>
	If your order is damaged or lost during transit we will send a replacement as soon as we can, at no additional cost to you.
</p> 

<p>
	<strong>Refunds, Returns, and Cancelling your Subscription</strong>
</p>

<p>
	If you are unhappy with your SeedPod deivery for any reason, and wish to receive a refund, you must inform us within 7 days of receipt. All seed packets must be returned unopened. A full refund will be issued within 30 days.
</p>

<p>
	Any request for a refund will not result in the automatic cancellation of your subscription. You will therefore continue to make payments for, and to receive, subsequent SeedPod deliveries.
</p>

<p>
	We are a subscription service, with no contractual tie-in – you can cancel at any time without penalty and we won't take the following month's payment. Subscriptions may be cancelled within your Account Settings.
</p> 
	
<p>
	<strong>Copyright, Licenses and use of Intellectual Property</strong>
</p>
	
<p>
	Our code is open source and accessible on <a href="https://github.com/seedpod">GitHub</a> on a simple and permissive <a href="http://opensource.org/licenses/MIT">MIT license</a>. Do please feel free to use it, share it and improve upon it.
<p>
	
<p>
	The use of all <a href="http://www.flickr.com/photos/100382621@N08/favorites">images</a> on this site have been granted under a Creative Commons license by kind permission of their owners.
</p>
	
<p>
	All other content is the copyright of SeedPod Ltd. 2013, with all rights reserved.
</p>
	
	<strong>Other</strong>
</p>

<p>
	Still have questions? Check out our <%= link_to "Any Questions", page_path("faq") %> page or email us at <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a>.
</p>
</div>	