<h1 class="hugeTitle">
	T&Cs
</h1>
<div class="aboutUs">
<p>
	<strong>Legal</strong>
</p>

<p>
	By using this site, you are confirming that you are over 18 years of age.
</p>

<p>
    We promise we will never sell, rent or share any of your data to/with a third party. Never. No ifs, no buts.
</p>

<p>
	getseedpod.com is operated by SeedPod Ltd. (08469306) which is a company registered in England and Wales. 
</p>

<p>	
	Our registered office is: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.
</p>

<p>
    We use cookies, small files for:
	<ul>
  <li>Analytical purposes - measuring visitor behaviour so we can improve our website.</li>
  <li>Your preferences - to remember whether you have already signed in to the site.</li>
</ul>

<p>

	<strong>Payments and Deliveries</strong>
</p>

<p>
	When you subscribe to SeedPod a monthly payment will be taken using GoCardless.com between 5-10 working days prior to sending you your monthly delivery of two different vegetable seeds. 
</p>

<p>
	All payments made to SeedPod on our website are managed securely by GoCardless. For details of their terms and conditions please visit their <a href="https://gocardless.com/legal/customers">website</a>.
</p>

<p>
	Your seeds will be despatched in the first week of each month.
</p>

<p>
	Postage and packing is included with our monthly subscriptions at no additional cost to you.
</p>

<p>
	We only despatch to postal addresses in the United Kingdom, excluding the Channel Islands and the Isle of Man.
</p>

<p>
	If your order is damaged or lost during transit we will send a replacement as soon as we can, at no additional cost to you.
</p> 

<p>
	<strong>Refunds, Returns, and Cancelling your Subscription</strong>
</p>

<p>
	If you are unhappy with your SeedPod deivery for any reason, and wish to receive a refund, you must inform us within 7 days of receipt. All seed packets must be returned unopened. A full refund will be issued within 30 days.
</p>

<p>
	Any request for a refund will not result in the automatic cancellation of your subscription. You will therefore continue to make payments for, and to receive, subsequent SeedPod deliveries.
</p>

<p>
	We are a subscription service, with no contractual tie-in – you can cancel at any time without penalty and we won't take the following month's payment. 
</p> 
	
<p>
	<strong>Other</strong>
</p>

<p>
	Still have questions? Check out our <%= link_to "Any Questions", page_path("faq") %> page or email us at <a href="mailto:greetings@getseedpod.com">greetings@getseedpod.com</a>.
</p>
</div>	