<h1 class="hugeTitle">
	Get ready...
</h1>
<div class="aboutUs">
	<p>
You'll soon be receiving your first delivery from SeedPod. Before it arrives, here are a few things you could do to prepare your garden. This advice is meant to make your growing experience easier, and to help you produce healthier plants.
</p>
<p>
	<li><%= image_tag 'fork.jpg', class: "img-responsive pull-right", width:"300", Hspace:"10", Vspace:"10" %><b>Prepare your soil</b>: make sure whenever you are sowing or planting directly into garden soil that it's been loosened with a garden fork or spade - this is a must in order to give your baby plants a chance to make it to daylight. Adding organic matter (either a soil improver or compost from your local garden centre, or even your own garden compost) would be ideal. Improving the condition of your soil will ensure it contains sufficient nutrients for your plants. It will also improve moisture retention. You'll be amazed at the difference this will make.</li>
	<li><b>Start your own compost heap</b>: We'll provide more detail on this later, but in simple terms start collecting your vegetative matter (e.g. grass cuttings and vegetable scraps) as well as shredded paper from your unwanted mail. Mix them up in as large a container as possible, and keep it moist. </li>
	<li><%= image_tag 'compost.jpg', class: "img-responsive pull-left", width:"300", Hspace:"10", Vspace:"10" %><b>Tools</b>: As a bare minimum you will need both a small and a large digging tool, such as a trowel and large garden fork. You will also need a seed tray or propagator (any high sided tray with holes in the bottom) for growing within a protected environment, some peat-free potting compost, and labels to help identify your plants. </li>
	<li><b>Enough space to grow</b>: If you'd like, you could build some fancy raised beds, but it really isn't necessary. Remember, we're keeping this simple. By all means clear away some space in an unloved flower bed, or dig up a patch of lawn in the corner of the garden. However, even that isn't really necessary - your veggies will live happily around other plants and don't need a dedicated plot. But wherever you choose, you will need decent soil, shelter from the wind, and sunlight. </li>
</p>
</div>