<h1 class="hugeTitle">
	Get ready...
</h1>
<div class="aboutUs" id='instructions'>
	
<p>
	Welcome to SeedPod! We'll be sending out your first pod shortly, so it should be with you in the next 10 days. You'll receive an email once your seeds are on their way, which will also link to your personalised growing guidance.
</p>

<p>
	In the mean time, here are a few things you could do to prepare your growing space, to give you a head start. None of this is essential, but should make your growing experience easier and help produce healthier plants.  
</p>
<p><strong>Preparing your Garden</strong></p>
<p>
	<li><%= image_tag 'fork.jpg', class: "img-responsive pull-right", width:"300" %><b>Improve your soil</b>: make sure whenever you are sowing or planting directly into garden soil that it's been loosened with a garden fork or spade - this is a must in order to give your baby plants a chance to make it to daylight. Adding organic matter (either a soil improver or compost from your local garden centre, or even your own garden compost) would be ideal. Improving the condition of your soil will ensure it contains sufficient nutrients for your plants. It will also improve moisture retention. You'll be amazed at the difference this will make.</li>
	<li><b>Start your own compost heap</b>: We'll provide more detail on this later, but in simple terms start collecting your vegetative matter (e.g. grass cuttings and vegetable scraps) as well as shredded paper from your unwanted mail. Mix them up in as large a container as possible, and keep it moist. </li>
	<li><%= image_tag 'compost.jpg', class: "img-responsive pull-left", width:"300" %><b>Tools</b>: As a bare minimum you will need both a small and a large digging tool, such as a trowel and large garden fork. Seed trays are vital, and a heated propagator may also be really useful as they provide a warm protected environment to get your plants off to a good start. Getting hold of some labels can also be handy when it comes to identifying plants. </li>
	<li><b>Enough space to grow</b>: If you'd like, you could build some fancy raised beds, but it really isn't necessary. Remember, we're keeping this simple. By all means clear away some space in an unloved flower bed, or dig up a patch of lawn in the corner of the garden. However, even that isn't really necessary - your veggies will live happily around other plants and don't need a dedicated plot. But wherever you do happen to choose, you will need to prepare the soil as described above, ensure your plants are sheltered from strong winds, and have access to sunlight. </li>
</p>
<p><strong>Preparing your Balcony or Courtyard</strong></p>
<p>If you can do any of the above, then great, but we realise lots of people live in flats or apartments, and don't have the space for a compost heap or raised beds. But if you only have access to a balcony or small area for pots, there's actually far less to do which makes growing even more simple.
</p>
<p>
	<li><b>Plenty of pots</b>: Having access to a range of different sized pots will be essential for balcony growing. As your plants grow you'll be potting them on into larger and larger containers. But don't forget you'll also need smaller 10 cm diameter pots for your younger plants, or ones that can sit by your window.</li>
	<li><b>Tools</b>: A small hand-trowel or fork will be vital. You'll also be well served by investing in a propagator for growing within a protected environment, and of course a bag of peat-free vegetable compost will be necessary too. Finally you may want to get some labels to help identify your plants.</li>
</p>
</div>