<div class+"hero-unit">
  
<h1>Welcome to SeedPod!</h1>

<p class='lead'>
  So you'd like to start growing your own food, but you're a little unsure where to start? Have no fear! We help by taking away the worry of planning what and when to sow. We also remove the hassle of remembering when to harvest. 
</p>

<p>
<% if user_signed_in? %>
  <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-large btn-primary'%>
<% else %>
  <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-large btn-primary'%>
<% end %>
</p>

<p>
<div class="row">
  <div class="span3">
    <h2>Delivered</h2>
    Get 3 types of organic vegetable seeds each month
    </div>
  <div class="span3">
    <h2>Sow</h2>
    Follow our step by step instructions of how to plant
    </div>
  <div class="span3">
    <h2>Care</h2>
    We help you to nurture your seedlings to grow big and strong
    </div>
  <div class="span3">
    <h2>Eat</h2>
    Harvest your crops and enjoy fresh tasty veg straight off the plant
  </div>
</div>



