<h1>Welcome to SeedPod!</h1>

<% if user_signed_in? %>
  <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-large btn-primary pull-right'%>
<% else %>
  <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-large btn-primary pull-right'%>
<% end %>

<p class='lead'>
  We want to get more people growing their own food. We know that food you've grown yourself tastes better. How can we prove that? Well you know it yourself whenever you make a meal from scratch rather than just heating a packet in the microwave. Tucking into a meal you've put thought and time into is a whole lot more rewarding than eating any kind of 'ready-meal' from a supermarket. Well take it from us that cooking a meal based on vegetables you've grown yourself takes that satisfaction to a whole new level - trust us!
</p>

<img src='http://placekitten.com/300/200' class='pull-right img-polaroid'/>

<p>
  And of course, unlike that supermarket ready-meal, you know exactly what has gone into the dish: no added preservatives, colourants, or any kind of ingredient with a number on it. In fact all of our seeds are certified organic by the Soil Association - which means no harsh chemical pesticides or fertilisers have been used in their production. So not only will your vegetables taste great, but you know they have been grown in a way that is kinder to the environment. And of course you already know that eating a lot of vegetables is vital for a healthy and nutritional diet. 
</p>

<blockquote>
  This is so awesome it hurts
  <small>Paul Robinson</small>
</blockquote>

<img src='http://placekitten.com/150/100' class='pull-left img-polaroid'/>

<p>
  At SeedPod we make the whole process of growing your own vegetables easier: we've designed our growing programme to ensure you sow the right seeds, at the right time, and don't need to worry about it. Each monthly SeedPod will contain three types of organic vegetable seed to be sown within that same month. As well as delivering the seeds through your letter box, we also provide you with the guidance you need for sowing and caring for them. And best of all we let you know when we think it might be time to harvest the vegetables, and ways you might like to cook and eat them too. That's why we call it 'Guided Vegetable Growing': we're with you at every step from sowing to eating.
</p>

<h1>How it Works</h1>

<p>
  1. Subscribe
  For just £6.00 each month, and receive your 12th consecutive month free!
</p>

<p class="text-center">Center aligned text.</p>
  2. Delivered
  Three types of organic vegetable seed each month, straight to your letter box.
</p>

<p>
  3. Sow
  Use our seasonal guidance and tutorials to care for your seeds.
</p>

<p>
  4. Harvest
  Dig it, cook it, eat it!
</p>





