<div id="logo">
  <%= image_tag 'logo-with-text.svg'%>
</div>

<!--<div class='tagline'>
  Guided growing, for tasty veg all year round
</div>

<!--<div class='tagline'>
  <p>
    <% if user_signed_in? %>
      <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-xlarge btn-warning'%>
    <% else %>
      <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-xlarge btn-warning'%>
    <% end %>
  </p>
</div>-->

<div class="row">	
  <div class="col-md-4">
    <h2>Get</h2>
    For just £6.00 per month, receive 2 types of vegetable seeds delivered straight through your letterbox    
  </div>
  <div class="col-md-4">
	<h2>Grow</h2>
    Follow our bespoke growing programme to sow the right seeds at the right time following simple instructions
	</div>
  <div class="col-md-4">
    <h2>Eat</h2>
    We advise you when the time may be right to harvest your crops and enjoy fresh and tasty veg, straight off the plant
  </div>
</div>