<div class="hero-unit">
  <h1>Welcome to SeedPod!</h1>
  <p class='lead'>
    The simplest path to eating delicious home-grown vegetables throughout the year. 
  </p>

  <p>
    <% if user_signed_in? %>
    <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-large btn-primary'%>
    <% else %>
    <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-large btn-primary'%>
    <% end %>
  </p>
</div>

<p>
<div class="row">
  <div class="span3">
    <h2>Get</h2>
<<<<<<< HEAD
    For just £6.00/month, receive 3 types of vegetable seeds delivered straight to your letterbox
=======
	<img src="http://placekitten.com/100/100" 
	onmouseover="this.src='http://placekitten.com/200/300'"
	onmouseout="this.src='http://placekitten.com/100/100'">
    For just £6.00/month, receive 3 types of organic vegetable seeds delivered straight to your letterbox
>>>>>>> c8eb9e425f385442207e7a7819567214658e19c8
    </div>
  <div class="span3">
    <h2>Sow</h2>
    Follow our bespoke growing programme to sow the right seeds at the right time
    </div>
  <div class="span3">
    <h2>Care</h2>
    Nurture your plants to grow big and strong following our tutorials and guidance
    </div>
  <div class="span3">
    <h2>Eat</h2>
    We advise you when the time may be right to harvest your crops and enjoy fresh and tasty veg, straight off the plant
  </div>
</div>



