<div id="logo">
  <%= image_tag 'logo-with-text.svg'%>
</div>

<!--<div class='tagline'>
  Guided growing, for tasty veg all year round
</div>

<!--<div class='tagline'>
  <p>
    <% if user_signed_in? %>
      <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-xlarge btn-warning'%>
    <% else %>
      <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-xlarge btn-warning'%>
    <% end %>
  </p>
</div>-->

<div class="row">	
<div class="intros">
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
    <h1><i>Get</i></h1>
	<ul>
		<li>Two vegetable seed varieties each month</li>
		<li>Delivered straight through your letterbox</li>
		
	</ul>
    </div>
  </div>	
  </div>
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
	<h1><i>Grow</i></h1>
	<ul>
		<li>The right seeds at the right time</li>
		<li>Nothing to remember or research</li>
		<li>Monthly step-by-step guidance to get the most out of your plants</li>
	</ul>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
    <h1><i>Eat</i></h1>
	<ul>
		<li>Maximise and prolong your harvest</li>
		<li>Enjoy fresh and tasty veg straight off the plant</li>
	</ul>
    </div>
  </div>
  </div>
</div>  
</div>