/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require import_bootstrap
 *= require_self
 *= require_tree .
 */

.centered{
	text-align: center
}

.brand img{
	height:30px;
	/*vertical-align:top;*/
	
}

.nav {
	text-align:center;
	/*color: red;*/
	/*padding-top: 7px;*/
	/*vertical-align:sub;*/
}

@media only screen and (max-width: 768px) {
  .hugeTitle{
    font-size:50px;
  }
  .tagline {
  	font-size: 30px;
  	padding-top: 10px;
    padding-bottom: 10px;
  }
  .social {
    font-size: 10px;
  }
}
 
@media only screen and (min-width: 768px) {
  .hugeTitle{
    font-size:100px;
  }
  .tagline {
  	font-size: 55px;
  	padding-top: 35px;
  	padding-bottom: 50px;
  }
}


.hugeTitle{
	text-align:center;
	color: #78A22F;
}

.carousel-inner{
	text-align: left;

	line-height:40px;
	font-style:none;
	text-align:center;
	font-weight:100;

}
.carousel-control.right{
	left:auto;
	right:55px;
	vertical-align: bottom;
}
.carousel-control.left{
	left:15px;
	right:auto;
}

.space{
	word-spacing:3em;
}
.aboutUs{
	color:#503e2b;
	font-size:20px;
	text-align:justify;
	line-height:30px;
	padding:10px;
}
.aboutColumns{
	padding-top:20px;
	padding-bottom:50px;
}

.tagline{
	text-align:center;
	color:white;
	font-weight:100;
}

.navbar li{
	display:inline;
	padding-left:10px;
	padding-right:10px;

}
.miniTitle{
	font-size:40px;
	padding:20px;
}

.miniAboutTitle{
	font-size:40px;
	text-align:center;
	padding:20px;
}

.intros{
	font-size: 25px;
}
.icon-li{
	padding-right:20px;
}

.faq{
	color:#503e2b;
	font-size:17px;
	text-align:justify;
	line-height:25px;
	padding-top:30px;
}

.accordion-toggle{
	font-size:25px;
	font-weight:100;
	color:#503e2b;
}

.navbar{
/*	border: none;
	border-bottom: 1px solid #000;
	background: red; */
	font-size: 18px;
	text-transform:uppercase;
}

.social{
	padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.social a:hover {
  text-decoration: none;
}

.words{
	font-size:30px;
}

.boxes{
	border: 5px solid #78A22F;
	
	padding: 10px;
	margin-top: 20px;
}

.progressBar{
	color: #78A22F;
	font-size: 30px;
	text-align:center;
}
.progressHighlight{
	color: #902A5E;
}

