/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css');

.centered{
	text-align: center
}

.brand img{
	height:30px;
	/*vertical-align:top;*/
	
}

.nav {
	text-align:center;
	/*color: red;*/
	/*padding-top: 7px;*/
	/*vertical-align:sub;*/
}

div.logo{
	padding-top: 50px;
	font-size: 50px;
	color: white;
	font-family: Gill Sans;
}

.hugeTitle{
	font-size:200px;
	font-family:Gill Sans;
	padding:100px;
	text-align:center;
	color: #78A22F;
}

.carousel-inner{
	font-family: Gill Sans;
	text-align: left;
	padding: 40px;
	line-height:40px;
	font-style:none;
	text-align:center;
	font-weight:100;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}
.carousel-control.right{
	left:auto;
	right:55px;
}
.carousel-control.left{
	left:15px;
	right:auto;
}

.space{
	word-spacing:3em;
}
.aboutUs{
	font-family: Gill Sans;
	color:#503e2b;
	font-size:20px;
	text-align:justify;
	line-height:30px;
}
.aboutColumns{
	padding-top:20px;
}

.tagline{
	text-align:center;
	color:white;
	font-family:Gill Sans;
	font-size: 55px;
	font-weight:100;
	padding-top: 35px;
	padding-bottom: 50px;
}

.hfur{
	font-family: Gill Sans;
}

.navbar li{
	display:inline;
	padding-left:20px;
	padding-right:20px;

}
.miniTitle{
	font-size:40px;
}

.miniAboutTitle{
	font-size:50px;
	text-align:center;
	padding:20px;
	font-family:Gill Sans;
}

.intros{
	font-size: 25px;
}
.icon-li{
	padding-right:20px;
}
.icon-twitter{
	color: #503e2b;
}
.icon-facebook{
	color: #503e2b;
}
.icon-envelope{
	color: #503e2b;
}
.icon-cog{
	color: #503e2b;
}


.navbar{
/*	border: none;
	border-bottom: 1px solid #000;
	background: red; */
	font-size: 18px;
	font-family: Gill Sans;
	text-transform:uppercase;
}

.words{
	font-size:30px;
}
/*.box{
    width:300px;
    height:180px;
    margin:10px 10px;
    background-color: #ffffff;
    border:1px solid black;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier 
	border: 2px, red;
	padding: 10px;
	text-align:justify;
	background-color: rgba(255,255,255,0.5);
	opacity:0.5;
	background: linear-gradient(
		white, white 50%, black 50%, black
	); 
	transition: all 0.2 ease;

}
*/
