input:focus{
	outline-color: #902A5E;
};

footer {
  border-top: 1px solid black;
}

html {
  min-height: 100%;
}

body { 
  min-height: 100%;
  padding-bottom: 100px; /* Pad bottom of body to avoid navbar */
}

.image { 
  a {
	  display:none;
  }
  a:hover {
	  display:block;
  }
}

.navbar {
  
  height: 100px;
  padding:24px;
  opacity: 0.9;
  background-color: #78A22F;
	font-size: 18px;
	text-transform:uppercase;

  li {
  	display:inline;
  	padding-left:10px;
  	padding-right:10px;
  }

  .nav {
  	text-align:center;
  }

  .nav, .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;    
  }
  
  .nav > li > a {

    min-width: 100px;
    color: #ffffff !important;
    text-shadow:none !important;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
  }

  .container {
    text-align:center;  
  }

  li.navbar-logo {
    top: -30px;
  /*  background: #f8f8f8;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 50px;
  */
    img {
    	height:80px;    
    }
  }

}

.icon-long-arrow-right{
	padding: 10px;
}

.centered{
	text-align: center
}

.brand img{
	height:30px;
	/*vertical-align:top;*/
	
}

.hugeTitle{
	text-align:center;
	color: #78A22F;
}

.carousel-inner{
	text-align: left;

	line-height:40px;
	font-style:none;
	text-align:center;
	font-weight:100;

}
.carousel-control.right{
	left:auto;
	right:55px;
	vertical-align: bottom;
}
.carousel-control.left{
	left:15px;
	right:auto;
}

.space{
	word-spacing:3em;
}

.aboutUs{
	color:#503e2b;
	font-size:20px;
	text-align:justify;
	line-height:30px;
	padding:10px;
  
  .img-responsive {
    margin: 0 auto;
  }
  
}
.aboutColumns{
	padding-top:20px;
	padding-bottom:50px;
}

.miniTitle{
	font-size:40px;
	padding:20px;
}

.miniAboutTitle{
	font-size:40px;
	text-align:center;
	padding:20px;
}

.intros{
	font-size: 25px;
}
.icon-li{
	padding-right:20px;
}

.faq{
	color:#503e2b;
	font-size:17px;
	text-align:justify;
	line-height:25px;
	padding-top:30px;
}

.accordion-toggle{
	font-size:25px;
	font-weight:100;
	color:#503e2b;
}

.social{
	padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  
  a:hover {
    text-decoration: none;
  }

  .icon-twitter{
  	color: #ffffff;
  }
  .icon-facebook{
  	color: #ffffff;
  }
  .icon-envelope{
  	color: #ffffff;
  }
  .icon-cog{
  	color: #ffffff;
  }
  .icon-signout{
  	color: #ffffff;
  }
  .icon-circle{
  	color: #503e2b;
  }
  
}

.words{
	font-size:30px;
}

.boxes{
	border: 5px solid #78A22F;
	
	padding: 10px;
	margin-top: 20px;
}

.progressBar{
	color: #78A22F;
	font-size: 30px;
	text-align:center;
}
.progressHighlight{
	color: #902A5E;
}