@media only screen and (max-width: 768px) {

  .hugeTitle{
    font-size:50px;
  }
  .tagline {
  	font-size: 30px;
  	padding-top: 10px;
    padding-bottom: 10px;
  }
  .social {
    font-size: 10px;
  }

  .miniTitle{
  	font-size:30px;
  	padding:10px;
  }

  .words {
    font-size: 20px;
    line-height: 20px;
  }

  .carousel-control {
    padding-top: 10px;
  }
  
  .icon-3x {
    font-size: 1.8em !important;
  }

}