@media only screen and (max-width: 768px) {

  .hugeTitle{
    font-size:50px;
  }
  .tagline {
  	font-size: 30px;
  	padding-top: 10px;
    padding-bottom: 10px;
  }
  .social {
    font-size: 10px;
  }

  .carousel-control {
    padding-top: 10px;
  }

}