@media only screen and (min-width: 768px) {

  .hugeTitle{
    font-size:100px;
  }
  .tagline {
  	font-size: 55px;
  	padding-top: 35px;
  	padding-bottom: 50px;
  }

  .carousel-control {
    padding-top: 100px;
  }

}