// Place all the styles related to the Pods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-unit {
  background-image: asset-url("hero_unit.jpg");
  background-scale: cover;
  color: white;
  font-family: Futura;
}

.hero-unit .lead {
  font-weight: 400;
  font-family: Futura;
}

body.homepage {
  background-image: asset-url('cabbage.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(0%, rgba(0, 0, 0, 0.5))), asset-url('cabbage.jpg'); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(bottom, transparent, rgba(0,0,0,0.5)), asset-url('cabbage.jpg'); /* Chrome10+,Safari5.1+ */
  background-image:    -moz-linear-gradient(bottom, transparent, rgba(0,0,0,0.5)), asset-url('cabbage.jpg'); /* FF3.6+ */
  background-image:     -ms-linear-gradient(bottom, transparent, rgba(0,0,0,0.5)), asset-url('cabbage.jpg'); /* IE10+ */
  background-image:      -o-linear-gradient(bottom, transparent, rgba(0,0,0,0.5)), asset-url('cabbage.jpg'); /* Opera 11.10+ */
  background-image:         linear-gradient(to top, rgba(0,0,0,0.5)), asset-url('cabbage.jpg'); /* W3C */

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;

  #myCarousel {
    
    padding-bottom: 40px;
    
    .carousel-indicators {
      bottom: 10px;
    }
    
    .carousel-control {
      background: none;
      padding-top: 100px;
    }
    
  }
  
  #logo {
    padding-top: 75px;
    
  }
  
}

#instructions img {
  padding: 10px;
}