<tr id='shipment-<%= shipment.id %>'>
  <td><%= shipment.user.email %></td>
  <td><%= shipment.user.address %></td>
  <td><%= shipment.crops.map{|x| x.name}.join(', ') %></td>
  <td>
    <% if shipment.shipped %>
      <span class="label label-success">Shipped</span>
    <% else %>
      <a href='#' class='btn btn-danger btn-mini'>Ship It!</a>
    <% end %>
  </td>
</tr>
