<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seedpod</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Seedpod</a>
      <ul class="nav">
        <li><a href="/pods/this-month">This Month</a></li>
      </ul>
    </div>
  </div>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
